@CHARSET "UTF-8";

#canvas2D{
    border: 2px solid blue;
    background: LightGoldenRodYellow;
} 

#hint{
    color: DarkBlue;
    background-color: Gainsboro ;
}

.emphasis{
    color: blue;
}

.main {
    background-color: lime;
    margin: auto;
    width: 40%;
    border: 3px solid green;
    padding: 10px;
    margin-top: 100px;
}

.head {
    background-color: rgb(230, 146, 230);
    padding: 2px;
    text-align: center;
    margin-bottom: 15px;
}

.result {
    font-size: 40px;
    margin-left: 50px;
}

.btn {
    background-color: #2d0af5; /* Green */
    border: none;
    border-radius: 10px;
    color: white;
    padding: 15px 32px;
    text-align: center;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

input[type=number] {
    width: 100%;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    padding: 10px;
}